header {padding-left: 50px;}
a {color:black; text-decoration: none}
nav a {padding-left: 20px; padding-right: 20px; border: 1px; border-style: solid;}
#navnow {text-shadow: black 1px 1px 1px; color: purple;}
#wr {border: 1px black solid;}
#cougar {width: 500px; border: 1px red double; float: left;}
#cougarinfo {font-size: 20px; line-height: 200%}
strong {font-size: 30px;}
#makta {width: 1550px;}
#fighting {text-decoration: underline; font-style: italic;}
#intro {font-size: 20px; line-height: 200%}
